@import "tailwindcss";


@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--text);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);
  --color-primary-foreground: var(--primary-foreground);
  --color-tertiary: var(--tertiary);
  --color-tertiary-foreground: var(--tertiary-foreground);
  --font-display: var(--font-archivo-black);
}

:root {
--text: #050316;
--background: #fbfbfe;
--primary: #05033a;
--secondary: #dddbff;
--accent: #9f9cf2;
--primary-foreground: #fbfbfe;
--tertiary: #8B949E;
--tertiary-foreground: #57606A;
}


.dark {
--text: #eae9fc;
--background: #010104;
--primary: #c7c5fc;
--secondary: #020024;
--accent: #100d63;
--primary-foreground: #010104;
--tertiary: #6E7681;
--tertiary-foreground: #8B949E;
}


@layer base {
  html {
    background: var(--background);
    color: var(--text);
  }
}

@keyframes float {
  0%, 100% { transform: translateY(0); }
  50%      { transform: translateY(-9px); }
}
 